body {background-image: url(cupcakes_edit_transparent.png);
    background-size: cover;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    padding-left:15px;
    font-size: 36px;
    color:#222;
}

.box {width: 48%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    opacity: .9;
    box-shadow: 2px 2px 2px #666;
    border: 1px solid #666;
    margin-top: 75px;
}

h2 {font-family: 'Gloria Hallelujah', cursive;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 22px;
        margin-top: 15px;
        font-weight: 700;
        font-style: italic;
        color: #000;
        padding: 10px;
}

.button {width: 35%;
        height: 40px;
        background-color:#00CED1;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        vertical-align: middle;
        border-radius: 5px;
        box-shadow: 6px 4px 6px #666;
        line-height: 40px;
        margin:30px auto;
        border: 1px solid #444;
}

.button:hover {background-color: #8B008B;
}

.button:active {background-color: aliceblue;
        box-shadow: 3px 2px 3px #666;
}

.box a {text-decoration: none;
    color: #000;
}

a {text-decoration: none;
    color: #eee;
}

.takingrefuge {font-family: 'PT Sans', sans-serif;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        margin-top: 150px;
        color: #eee;
        font-stretch: extra-expanded;
}

.footer { font-family: 'PT Sans', sans-serif;
        text-align: center;
        font-size: 11px;
        color: #eee;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-stretch: expanded;
}